.bio {
    margin: 5% 0;
    width: 100% !important;
    overflow: auto;
    justify-content: space-between;

    /* Uncomment me  */
    /* background-color: #b19dd8;
    color: white;
    box-shadow: 0 3px 5px #2c2541;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif */
    /* Uncomment me  */
}

.portfolio {
    margin: 5% 0;
    width: 100% !important;
    overflow: auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;

    /* Uncomment me  */
    /* background-color: #b19dd8;
    color: white;
    box-shadow: 0 3px 5px #2c2541;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif */
    /* Uncomment me  */
}

#profile-image {
    padding: 0 5% 0 0;
    height: 100%;
    float: left;
    flex: 0 1 auto;
}

footer {
    margin: 0 5%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.btn {
    flex: 0 1 auto;
    color: grey;
}

h4 {
    /* Uncomment me  */
    /* color: #f9f8f9; */
    /* Uncomment me  */
}

h2 {
    padding: 3%;
}

.portfolio-item-image {
    max-width: 100%;
    flex: 0 1 auto;
}

.portfolio-item {
    flex: 0 1 auto;
    padding: 0 2%;
    text-align: center;
    color: grey;
}

.portfolio-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    padding: 0 0 5% 0;
}

body {
    margin: 5%;

    /* Uncomment me  */
    /* background-color: #f9f8f9; */
    /* Uncomment me  */
}

header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    flex-direction: column;

    /* Uncomment me  */
    /* background-color: #6441a4;
    color: white;
    box-shadow: 0 3px 5px #2c2541;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif */
    /* Uncomment me  */
}